<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/show-style.css">
    <link rel="stylesheet" type="text/css" href="/style/common-style.css">
    <link rel="stylesheet" type="text/css" href="/style/nav-style.css">
    <title>Blog</title>
</head>
<body>
    <%- include("../articles/_navbar") %> 
    <div class="container" style=" margin-bottom: 20px;">
        <h1 style="font-size: 250%;"><%= article.title %></h1>
        <div class="date-text">
            <%= article.createdAt.toLocaleDateString() %>
        </div>
        <div>
            <%- article.sanitizedHtml %> 
        </div>
        <div style="margin-top: 40px;">
            <a href="/" class="btn" id="article-btn">All Articles</a>
            <a href="/articles/edit/<%= article.id %>" class="btn" id="editBtn">Edit</a>
            <div style="float: left;">
                <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn" id="delBtn">Delete</button>
                </form>
            </div>
        </div><br>
    </div>
    <div style="margin-left: 60px; margin-right: 60px; margin-top: 20px;">
        <h3 id="comment-name"><%= length %> Comments</h3>
        <hr>
        <div id="comments" style="margin-bottom: 30px;">
            <form action="/<%= article.slug %>/edit/comment">
                <% comments.forEach(comment => { %>
                    <div id='card'>
                        <div id='card-body' id="post">    
                            <div>
                                <div class="mb-4">
                                    <a href="/articles/<%= article.slug%>/del/<%= comment._id %>" class="btn" id="commentDelete" style="float:right; height:35px; margin-right: 15px;">D</a>
                                    <a href="/articles/<%= article.slug%>/<%= comment._id %>" class="btn" style="float:right; height:35px" id='commentEdit'>E</a>
                                </div>
                                <h4 style="font-size: 22px; margin-left: 20px;">RE: <%= comment.parentTitle %></h4>
                                <div style=" margin-top: 10px; margin-bottom: 19px; margin-left: 20px;">
                                    <%= comment.post %> 
                                </div>
                                <div class="date-text" style="float: right; margin-top: 10px; margin-right: 20px;">
                                    <%= comment.createdAt.toLocaleDateString() %> by <strong><%= comment.writer %></strong>
                                </div>
                            </div>
                            <br><br>
                            <br>
                        </div>
                    </div>
                <% }) %> 
            </form>
        </div>
    </div>
    <div>
        <div class="container" id="newComment">
            <form action="/articles/<%= article.slug %>/<%= this_comment.id %>?_method=PUT" method="POST">
                <%- include("_edit_comment_fields") %> 
            </form>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        const accountBtn = document.getElementById("account-btn");
        accountBtn.hidden = true;

        const loginBtn = document.getElementById("login-btn")

        function toLogin(){
            location.href='/login'
        };

        if ('<%= session %>'){  // 로그인 된 상태: account 버튼 보이기
            accountBtn.hidden = false;
            loginBtn.hidden = true;
        };

        function toAccount(){
            window.location.href = '/profile/<%= userid %>'
        };

        const search = document.getElementById("search")
        function whenClicked(){
            if(search.value != null){
                location.href = `/article/search?value=${search.value}`
            }
        };

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        };
    </script>
</body>
</html>