<!-- this is a partial view not a full view -->


<div id="select">
    <label for="category" id="cat-label" style="font-size: 20px;">Choose Category</label><br>
    <select id="category">
        <% categories.forEach(cate=>{ %>
        <option value="<%= cate.name %>">
            <%= cate.name %>
        </option>
        <% }) %>
    </select>
    <a href="/article/add/categories">Add Categories</a>
</div>
<div style="margin-top: 30px">
    <label for="title" style="font-size: 20px;">Title</label><br>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-shape well-font">
</div>
<div style="margin-top: 30px;">
    <label for="description" style="font-size: 20px;">Description</label><br>
    <textarea name="description" id="description" class="form-textarea well-font"><%= article.description %></textarea>
</div>
<div style="margin-top: 30px;">
    <label for="markdown" style="font-size: 20px;">Markdown</label><br>
    <textarea required name="markdown" id="markdown" class="form-textarea well-font"><%= article.markdown %></textarea>
</div>

<button type="submit" id="save-btn" onclick="whenSubmit()">Save</button>
<a href="/" id="back-btn">Cancel</a>