<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Blog</title>
</head>
<body>
    <%- include("_navbar") %> 
    <div class="container">
        <h1 class="mb-2 mt-4 display-4"><%= article.title %></h1>
        <div class="text-muted mb-3">
            <%= article.createdAt.toLocaleDateString() %>
        </div>
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
        <div class="mt-4 mb-4">
            <%- article.sanitizedHtml %> 
        </div>
    </div>
    <div class="container">
        <h3 class="mt-4"><%= length %> Comments</h3>
        <hr style='border-style: dashed'>
        <div id="comments">
            <form action="/<%= article.slug %>/edit/comment">
                <% comments.forEach(comment => { %>
                    <div class="mt-4 mb-4" >
                        <div class="mb-4 mt-4 border-bottom">    
                            <div class="mb-2 mt-2">
                                <h4 style="float: left">RE: <%= comment.parentTitle %></h4>
                                <div class="card-subtitle text-muted mr-3 mt-1" style="float: right">
                                    <%= comment.createdAt.toLocaleDateString() %> by <strong><%= comment.writer %></strong>
                                </div>
                            </div>
                            <br><br>
                            <div class="card-text mb-4" style="float: left">
                                <%= comment.post %> 
                            </div>
                            <div class="mb-4">
                                <a href="/articles/<%= article.slug%>/del/<%= comment._id %>" class="btn btn-danger mr-3 mb-4" style="float:right; height:35px">D</a>
                            </div>
                            <br>
                        </div>
                    </div>
                <% }) %> 
            </form>
        </div>
    </div>
    <div class="container">
        <div class="card-text border mt-4" style="height:0%" id="editComment">
            <form action="/articles/<%= article.slug %>/<%= this_comment.id %>?_method=PUT" method="POST">
                <%- include("_edit_comment_fields") %> 
            </form>
        </div>
    </div>
    <script>
        const accountBtn = document.getElementById("account-btn");
        accountBtn.hidden = true;

        const loginBtn = document.getElementById("login-btn")

        function toLogin(){
            location.href='/login'
        };

        if ('<%= session %>'){  // 로그인 된 상태: account 버튼 보이기
            accountBtn.hidden = false;
            loginBtn.hidden = true;
        };

        function toAccount(){
            window.location.href = '/profile/<%= userid %>'
        }
    </script>
</body>
</html>