<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/index-style.css">
    <title>Blog</title>
</head>
<body>
    <%- include("_navbar") %> 
    <div style="margin-left: 60px; margin-right: 60px;">
        <h1 id="blog-articles">Blog Articles</h1>
        <input type="button" id="newArticles" class="no-text-decoration" value="New Article" onclick="whenNewArticle()">
        <div id="searchpart">
            <input type="text" name="search" id="search" placeholder="Search">
            <button id="search_btn" name="search_btn" class="" onclick="whenClicked()">검색</button>
        </div>
        <div id="articles" style="margin-bottom:50px;">
            <% articles.forEach(article => { %>
                <div id="container">
                    <div id="card-body" class="">
                        
                        <div id="buttons" style="float:right">
                            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" style="float:right">
                                <button type="submit" id="delBtn" hidden>Delete</button>
                            </form>

                            <a href="articles/edit/<%= article.id %>" id="editBtn" class="no-text-decoration" hidden>Edit</a>
                        </div>

                        <a href="articles/<%= article.slug %>" class="no-text-decoration" id="article-title"><h2 style="margin-left: 15px;"><%= article.title %></h1></a>
                        <div id="desc">
                            <%= article.description %> 
                        </div>
                        <div id="date">
                            By <strong><%= article.writer %></strong> on <%= article.createdAt.toLocaleDateString() %>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
    <script>
        const search = document.getElementById("search")

        function whenClicked(){
            if(search.value != null){
                location.href = `/article/search?value=${search.value}`
            }
        };

        function whenNewArticle(){
            if(!'<%= session.username %>'){
                alert("Login before you write.");
                location.href = '/';
            } else {
                location.href = 'articles/new'   
            }
        };

        const accountBtn = document.getElementById("account-btn");
        const loginBtn = document.getElementById("login-btn")
        accountBtn.hidden = true;

        function toLogin(){
            location.href='/login'
        };

        if ('<%= session %>'){
            accountBtn.hidden = false;
            loginBtn.hidden = true;
            // editBtn.hidden = false;
            // delBtn.hidden = false;
        };

        function toAccount(){
            window.location.href = '/profile/<%= userid %>'
        }
    </script>
</body>
</html>