<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/index-style.css">
    <link rel="stylesheet" type="text/css" href="/style/common-style.css">
    <link rel="stylesheet" type="text/css" href="/style/nav-style.css">
    <title>Blog</title>
</head>

<body>
    <%- include("_navbar") %>

    <div style="margin-left: 60px; margin-right: 60px;">
        <h1 style="margin-top: 40px; font-size: 250%;">Blog Articles</h1>

        <span style="font-size: 22px; margin-left: 5px;">All <%= Object.keys(articles).length %> posts</span>

        <br>

        <input type="button" id="newArticle" class="no-text-decoration newArticle" onclick="whenNewArticle()" style="margin-top: 30px; background-color: rgb(47, 160, 47);margin-left: 3px; padding: 10px; border-radius: 7px; border: none; cursor: pointer; color: white; font-weight: 400;
        font-size: 17px;" value="New Article">

        <div id="articles" style="margin-bottom:50px;">
            <% articles.forEach(article => { %>
            <div id="container">
                <div id="card-body" class="">

                    <a href="articles/<%= article.slug %>" class="no-text-decoration" id="article-title">
                        <h3 style="margin-left: 15px; font-size: 21px;"><%= article.title %></h3>
                    </a>
                    <!-- <div id="desc">
                            <%= article.description %> 
                        </div> -->
                    <div id="desc">
                        <div style="padding-right: 1%;">
                            <%= article.markdown.slice(0, 203)%> ...
                        </div>
                    </div>
                    <div id="date">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        const search = document.getElementById("search")

        function whenClicked() {
            if (search.value != null) {
                location.href = `/article/search?value=${search.value}`
            }
        };

        const newArticle = document.getElementById('newArticle');
        if (!'<%= session.username %>') {
            newArticle.hidden = true;
        } else {
            newArticle.hidden = false;
        }

        function whenNewArticle() {
            if (!'<%= session.username %>') {
                alert("Login before you write.");
                location.href = '/';
            } else {
                location.href = 'articles/new'
            }
        };

        const accountBtn = document.getElementById("account-btn");
        const loginBtn = document.getElementById("login-btn")
        const editBtn = document.getElementById("editBtn");
        const delBtn = document.getElementById("delBtn");
        accountBtn.hidden = true;
        // editBtn.hidden = true;
        // delBtn.hidden = true;

        function toLogin() {
            location.href = '/login'
        };

        if ('<%= session.username %>') {
            accountBtn.hidden = false;
            loginBtn.hidden = true;

            editBtn.hidden = false;
            delBtn.hidden = false;
        };

        function toAccount() {
            window.location.href = '/profile/<%= userid %>'
        }

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
</body>

</html>