<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/login-style.css">
    <link rel="stylesheet" type="text/css" href="/style/common-style.css">
    <link rel="stylesheet" type="text/css" href="/style/nav-style.css">
    <title>Blog</title>
</head>
<body>
    <%- include("_navbar") %> 

    <div id="div-body">
        <div>
            <h1 style="font-size: 250%"> Login </h1>
        </div>
        <div id="div-login">
            <div id="div-border">
                <form action="/login" method="post">
                    <div style="margin-bottom: 30px; margin-top: 50px;">
                        <label for="username" style="margin-right: 150px;">Enter your Username</label><br>
                        <input required type="text" id="username" name="username" value="<%= user.username %>"><br>
                    </div>
                    <div style=" margin-bottom: 30px;">
                        <label for="password" style="margin-right: 150px;">Enter your Password</label><br>
                        <input required type="password" id="password" name="password" value="<%= user.password %>"><br>
                    </div>
                    <div style="margin-top: 20px;">  
                        <input id="submit-btn" type="submit" value="Login">
                    </div>
                </form>  
                <p style="margin-bottom: 30px;">  
                    <span style="color: gray"> Not a member? </span>  
                    <a href="/register" style="color: #F900BF; text-decoration: none;"> Sign up </a>  
                </p>  
            </div>
        </div>
    </div>

    <%- include("_copywrite") %>
    
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        const accountBtn = document.getElementById("account-btn");
        accountBtn.hidden = true;

        const loginBtn = document.getElementById("login-btn")

        function toLogin(){
            location.href='/login'
        };

        if ('<%= session.username %>'){
            accountBtn.hidden = false;
            loginBtn.hidden = true;
        };

        function toAccount(){
            window.location.href = '/profile/<%= userid %>'
        };

        const search = document.getElementById("search")
        function whenClicked(){
            if(search.value != null){
                location.href = `/article/search?value=${search.value}`
            }
        };

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        };
    </script>
</body>
</html>