<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/index-style.css">
    <link rel="stylesheet" type="text/css" href="/style/common-style.css">
    <link rel="stylesheet" type="text/css" href="/style/nav-style.css">
    <title>Blog</title>
</head>
<body>
    <%- include("_navbar") %> 

    <div style="margin-left: 60px; margin-right: 60px;">
        <h1 style=" margin-bottom: 20px; margin-top: 40px; font-size: 250%;">This is your result</h1>
        <h1 style="font-weight: 500; font-size: 28px; color: rgb(59, 59, 59)"> <%= Object.keys(articles).length %> articles </h1>

        <div id="articles" style="margin-bottom:50px; margin-top: 40px;">
            <% articles.forEach(article => { %>
                <div id="container">
                    <div id="card-body" class="">
                        
                        <div id="buttons" style="float:right">
                            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" style="float:right">
                                <button type="submit" id="delBtn" >Delete</button>
                            </form>

                            <a href="articles/edit/<%= article.id %>" id="editBtn" class="no-text-decoration">Edit</a>
                        </div>

                        <a href="/articles/<%= article.slug %>" class="no-text-decoration" id="article-title"><h2 style="margin-left: 15px;"><%= article.title %></h1></a>
                        <div id="desc">
                            <%= article.description %> 
                        </div>
                        <div id="date">
                            By <strong><%= article.writer %></strong> on <%= article.createdAt.toLocaleDateString() %>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
    <p style="text-align: center; color: rgb(59, 59, 59)"> --- this is the last page ---</p>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        const accountBtn = document.getElementById("account-btn");
        accountBtn.hidden = true;

        const loginBtn = document.getElementById("login-btn")

        function toLogin(){
            location.href='/login'
        };

        if ('<%= session.username %>'){
            accountBtn.hidden = false;
            loginBtn.hidden = true;
        };

        function toAccount(){
            window.location.href = '/profile/<%= userid %>'
        };

        const search = document.getElementById("search")
        function whenClicked(){
            if(search.value != null){
                location.href = `/article/search?value=${search.value}`
            }
        };

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        };
    </script>
</body>
</html>