<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4 mt-4 display-4"><%= article.title %></h1>
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
        <div class="mt-4 mb-4">
            <%- article.sanitizedHtml %> 
        </div>
        <div class="text-muted mb-3">
            <%= article.createdAt.toLocaleDateString() %>
        </div>
    </div>
    <div class="container">
        <h3 class="mt-4"><%= length %> Comments</h3>
        <hr style='border-style: dashed'>
        <div id="comments">
            <% comments.forEach(comment => { %>
                <div class="mt-4 mb-4">
                    <div class="mb-4 mt-4 border-bottom"  id="post">    
                        <div class="mb-2 mt-2">
                            <h4 style="float: left">RE: <%= comment.parentTitle %></h4>
                            <div class="card-subtitle text-muted mr-3 mt-1" style="float: right">
                                <%= comment.createdAt.toLocaleDateString() %> by <strong><%= comment.writer %></strong>
                            </div>
                        </div>
                        <br><br>
                        <div class="card-text mb-4" style="float: left">
                            <%= comment.post %> 
                        </div>
                        <div class="mb-4">
                            <a href="/articles/<%= article.slug%>/del/<%= comment._id %>" class="btn btn-danger mr-3 mb-4" style="float:right; height:35px">D</a>
                            <a href="/articles/<%= article.slug%>/<%= comment._id %>" class="btn btn-info mr-2" style="float:right; height:35px" id='editButton'>E</a>
                        </div>
                        <br>
                    </div>
                </div>
            <% }) %> 
        </div>
    </div>
    <div class="container border-0 ml-6 mb-4" id="writeButton">
            <button type="submit" class="btn btn-primary mt-4 mb-4" onclick="hideButton()">Write</button>
    </div>
    <div class="container">
        <div class="card-text border mt-4" style="height:0%" id="newComment">
            <form action="/articles/<%= article.slug %>/comment" method="POST">
                <%- include("_comments_fields") %> 
            </form>
        </div>
    </div>
    <script>
        const writeButton = document.getElementById("writeButton");
        const newComment = document.getElementById("newComment");
        newComment.hidden = true;
        
        function hideButton(){
            writeButton.hidden = true;
            newComment.hidden = false;
        };
    </script>

</body>
</html>