<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4 mt-4 display-4"><%= article.title %></h1>
        <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
        </div>
    
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
        <div class="mt-4 mb-4">
            <%- article.sanitizedHtml %> 
        </div>
    </div>
    <div class="container">
        <hr>
        <h4 class="mt-4">Comments</h4>
        <% comments.forEach(comment => { %>
            <div class="card mt-4">
                <div class="car-body ml-3 mb-2 mt-2">             
                    <div class="card-text ml-2 mt-2 mb-2">
                        작성자: <strong><%= comment.author %></strong>
                    </div>
                    <div class="card-text ml-2 mr-2 mb-2">
                        <%= comment.title %> 
                    </div>
                    <div class="card-text mb-2">
                        <%= comment.post %> 
                    </div>
                    <div class="card-subtitle text-muted mb-2">
                        <%= comment.createdAt.toLocaleDateString() %> 
                    </div>
                </div>
            </div>
        <% }) %> 
        <div class="card-text border mt-4" style="height:0%">
            <form action="/articles/<%= article.slug %>" method="GET">
                <%- include("_comments_fields") %> 
            </form>
        </div>
    </div>
</body>
</html>