<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-4 mt-4"><%= article.title %></h1>
        <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
        </div>

        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
        <div class="mt-4">
            <%- article.sanitizedHtml %> 
        </div>
    </div>
    <div class="container">
        <hr>
        <h2 class="mb-4 mt-4">Comments</h2>

        <% comments.forEach(comments => { %>
            <div class="card mt-4">
                <div class="car-body ml-3 mb-2 mt-2">
                    <div class="card-text mb-2">
                        <%= comments.text %> 
                    </div>
                    <div class="card-subtitle text-muted mb-2">
                        <%= comments.createdAt.toLocaleDateString() %> 
                    </div>
                </div>
            </div>
        <% }) %> 
        <a href="/articles/<%= article.slug %>/comments" class="btn btn-info">New</a>
        <div class="form-group">
            <label for="author">Author : <%= article.author %></label>
            <textarea required name="text" id="text" class="form-control" placeholder="댓글을 입력해주세요."><%= comment.text %></textarea>
        </div>
    </div>
</body>
</html>